:root{
    --size: 30vw;
}

html, body{
    background-color: #333;
    color: white;
}

h1{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: var(--size);
    height: calc(var(--size) * 9 / 8);

    border: 1px solid white;
}

.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.center{
    justify-content: center;
}

.word{
    display: flex;
    justify-content: space-evenly;
}

.letter{
    width: calc(var(--size  ) / 8);
    height: calc(var(--size  ) / 8);
    font-size: 3vw;
}

.submit{
    width: calc(var(--size  ) / 2);
    height: calc(var(--size  ) / 8);
    font-size: 3vw;

    margin-left: auto;
    margin-right: auto;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: lime;
}

#loading_screen{
    position: absolute;
    display: none;
    background-color: black;

    width: fit-content;
    height: fit-content;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin: auto;
}